@using RecipeMicroservice.PresentationMVC.Models.Unit
@model RecipeMicroservice.PresentationMVC.Models.Unit.ListUnitViewModel
@{
	ViewData["Title"] = "Units List";
}

<h1>Units List</h1>

<form asp-action="List" method="get">
	<div class="row g-2 align-items-end">
		<div class="col">
			<input asp-for="SearchName"
				class="form-control"
				type="text"
				placeholder="Unit Name" />
			<span asp-validation-for="SearchName" class="text-danger"></span>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary">Search</button>
			<a asp-action="Index" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</form>

<br />
<a asp-controller="Unit" asp-action="Create" class="btn btn-primary mb-3">New Unit</a>

@if (Model.Items.Count == 0)
{
	<p>No Units.</p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (UnitViewModel item in Model.Items)
			{
				<tr>
					<td>@item.Name</td>
					<td style="white-space: nowrap; width: 1%;">
						<div class="d-flex gap-1">
							<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
							<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
							<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
						</div>
					</td>
				</tr>
		}
		</tbody>
	</table>
	@* Pagination Controls *@

	<nav>
		<ul class="pagination">
			@if (Model.HasPreviousPage)
			{
				<li class="page-item">
					<a asp-action="List"
					   asp-route-PageNumber="@(Model.PageNumber - 1)"
					   asp-route-SearchName="@Model.SearchName"
					   class="page-link">
						Previous
					</a>
				</li>
			}
			<li class="page-item active">
				<span class="page-link">@Model.PageNumber</span>
			</li>
			@if (Model.HasNextPage)
			{
				<li class="page-item">
					<a asp-action="List"
					   asp-route-PageNumber="@(Model.PageNumber + 1)"
					   asp-route-SearchName="@Model.SearchName"
					   class="page-link">
						Next
					</a>
				</li>
			}
		</ul>
	</nav>
}